
<div class="min-h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full space-y-8">
    <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
      Edit account
    </h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, class: "mt-8 space-y-6") do |f| %>
      <div class="rounded-md shadow-sm -space-y-px mb-2">
        <%= f.label :email, class: "sr-only" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-blue-500 focus:border-blue-500 focus:z-10 sm:text-sm", placeholder: "Email address" %>

        <%= f.label :password, class: "sr-only" %> 
        <i class="text-sm">(leave blank if you don't want to change it)</i>
        <%= f.password_field :password, autocomplete: "new-password", class: "appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-mb focus:outline-none focus:ring-blue-500 focus:border-blue-500 focus:z-10 sm:text-sm", placeholder: "Password" %>

        <%= f.label :password_confirmation, class: "sr-only" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-mb focus:outline-none focus:ring-blue-500 focus:border-blue-500 focus:z-10 sm:text-sm", placeholder: "Password confirmation" %>

        <%= f.label :current_password, class: "sr-only" %> 
        <i class="text-sm">(we need your current password to confirm your changes)</i>
        <%= f.password_field :current_password, autocomplete: "current-password", class: "appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-blue-500 focus:border-blue-500 focus:z-10 sm:text-sm", placeholder: "Current password" %>
      </div>

      <%= f.submit "Update", class: "group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 cursor-pointer" %>
    <% end %>

    <div class="flex items-center justify-between mb-2">
      <div class="flex items-center">
        <%= link_to :back do %>
          <i class="fas fa-undo-alt"></i>
        <% end %>
      </div>

      <%= button_to "Cancel my account", registration_path(resource_name), class: "bg-transparent hover:bg-red-500 text-red-700 font-semibold hover:text-white py-2 px-4 border border-red-500 hover:border-transparent rounded", data: { confirm: "Are you sure?" }, method: :delete %>
    </div>
  </div>
</div>